body{
  background: rgb(0,244,249);
  background: linear-gradient(90deg, rgba(0,244,249,1) 17%, rgba(112,252,255,1) 58%, rgba(189,254,255,1) 100%);
  overflow-y: hidden;
}

.formContainer {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.formContainer form{
  background-color: rgb(233, 233, 233);
  width: 70%;
  max-width: 450px;
  padding: 30px;
  border-radius: 10px;
  border: 1px solid #dfdfdf;
  box-shadow: 39px 35px 19px -3px #777777;
  border-radius: 10px;
}